body {
    margin: 0;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#welcomeGif {
    z-index: 1;
    position: relative;
}

#startButton{
       top:5%;
       right: 10px;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
       background: orange; 
}

#instructionButton{
       top: calc(5% + 50px);
       left:55%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
       background: orange; 
}

#musicButton{
       top: calc(5% + 100px);
       left:55%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
       background: orange; 
}

.instructions {
    color: white;
    text-align: center;
    font-family: Arial;
}

.instructions h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.instructions p {
    font-size: 18px;
    margin: 10px 0;
}